div.pagination
  - var i = 1;
  - while ( i <= getPageCount() )
    if page == i
      div.mini.ui.labeled.icon.button.disabled
        =i
    else
      div.right.labeled.icon.button
        i.right.arrow.icon
            a(href=pageURL(i)) #{i}
    - i++;
