// Profile
.ui.header
	img.ui.avatar.image(src='/images/me.jpg')
	| Hi, I'm Jack
p I'm a Senior Software Engineer at IRIS Software, with a particular interest in front-end architecture and solving interesting scalability problems.

.ui.three.column.grid.floated.right
	.column
		a(href='http://uk.linkedin.com/pub/jack-gardner/7/372/399', target="_new")
			i.linkedin.icon.compliment
	.column
		a(href='https://twitter.com/jackgardner88', target="_new")
			i.twitter.icon.compliment
	.column
		a(href='https://github.com/jackgardner', target="_new")
			i.github.icon.compliment

.ui.clearing.divider