// Profile
.ui.header
	img.ui.avatar.image(src='/images/me.jpg')
	| Hi, I'm Jack
p I'm a Senior Software Developer at IRIS Software, with a particular interest in front-end architecture and solving interesting scalability problems.