html,
body {
  font-size: 15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.jpg) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

.masthead {
	position: relative;
	overflow: hidden;
	height:150px;
	padding:12px 50px;
	border-bottom: none;
	background-color: #5C8FD0;
	box-shadow: inset 0 0 6px black;
	color: #fefefe;
	border-top: 5px solid black;
}

.masthead h1 {
	font-size: 5rem;
}

a {
	color: #5C8FD0;
	text-decoration: none;
}