html,
body {
  font-size: 15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.jpg) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}